<!-- <div class="container" style="width: 100%;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#" ></a>
    </nav>
  </div>
<nav class="navbar navbar-expand-lg navbar-light bg1-light" style="border:1px solid;background: white; margin-top:-47px;margin-left: 20px; width: 100%;">
    

    <div class="container">
        
      <a class="navbar-brand" href="#">Cloud Velocity</a>
      <svg  width="1em" height="1em" style="margin-left: 58rem;" viewBox="0 0 16 16" class="bi bi-bell" fill="orange" xmlns="http://www.w3.org/2000/svg" >
        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2z"/>
        <path fill-rule="evenodd" d="M8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
      </svg>
      
      <button (click)="logout()" >
        
      <svg  width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-person-circle" fill="skyblue" background="transparent" xmlns="http://www.w3.org/2000/svg">
        <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
        <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
        <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
      </svg>
    </button>
    
    </div>
    
    
  </nav> -->
<!--  
  <div class="Container-fluid" style="border: 1px solid; height: 56px; background: #006E74; padding-right: 19px; padding-top: 4px;">

    <div class="Container-fluid" style="position:relative; left: 20px; border: 1px solid; height: 51px; background:#FFFFFF;">

    <div class="float-left">
      <h4>Cloud Velocity</h4> 
    </div>
      <img src="assets\login.png"  class="rounded float-right" style="width:22px; height: 22px; color: #0097AC; ">
    <img src="assets\bell.png"  class="rounded float-right" style="width:17px; height: 19px; right: 40px;">
    
  
  </div> -->




<!-- <div class="Container-fluid" id="first-cont">
    <div class="logo">
   <img src="assets\images\USTheader.svg" alt="logo" id="ustlogo"> <h3 class="header">Cloud Velocity</h3>
  </div>
  <div class="second-cont">
    <img src="assets\bell.png" style="width:17px; height: 19px; right: 230px; position: relative;" >
    <img src="assets\login.png" style="width:22px; height: 22px; color: #0097AC; position: relative;right: 211px; ">
   

  </div>

  </div> -->



 
    <!-- <div class="container-fluid" id="first-cont">
      <div class="logo">
        <img src="assets\images\USTheader.svg" alt="logo" id="ustlogo">
        <h3 class="header">Cloud Velocity</h3>
      </div>
    </div>
      <div class="container-fluid" id="second-cont">
        <img src="assets\bell.png" class="rounded float-right" style="width:17px; height: 19px;     margin-right: 14px;">
        <img src="assets\login.png" class="rounded float-right"  style="width:22px; height: 22px; color: #0097AC;right: 211px; ">


      </div> -->
      <div class="conatiner">     
         <div class="col-md-2" id="first-cont">
        <div class="logo">
          <img src="assets\images\USTheader.svg" alt="logo" id="ustlogo">
          <h3 class="header">Cloud Velocity</h3>
        </div>
      </div>
        <div class="profileSec col-md-10" >
          
          <div class="notification float-right">
            <img src="assets\bell.png" class="rounded">
            <!-- <ul class="dropdown">
                <li >No notifications</li>
            </ul> -->
          </div>  
          
          <div class="userProfile float-right">
            <img src="assets\login.png" class="rounded" >
            <ul class="dropdown">
                <li (click)="logout()">Log out</li>
            </ul>
        </div>
        </div>  
      </div>

   
 