<app-header></app-header>
<!-- get header content -->

<!-- fluid container to display the records cound in card items -->
<div class="container-fluid">
    <app-counts-list></app-counts-list>
   <div class="row">
    <div class="col-md-12">
        <h2><img src="assets/images/Shape-costcomp.svg"/>Move-Group Wave</h2>
        
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a routerLink="/migrationgrouptarget"><button class="btn btn-outline-secondary" type="button">Migration Group Target Sizing</button></a>
            <a routerLink="/migrate"><button class="btn btn-outline-secondary" type="button">Back</button></a>
        </div>
    </div>
   </div>



</div>
