<div class="container loginContainer">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          
          <ul>
              <li><a [routerLink]="['/login']">Login</a></li>
              <li><a [routerLink]="['/networkView']">Network View</a></li>
              <li><a [routerLink]="['/analyseStats']">Analyse Stats</a></li>
              <li><a [routerLink]="['/moveGroupView']">Move Group View</a></li>
              <li><a [routerLink]="['/functionalData']">Functional Data</a></li>
              <li><a [routerLink]="['/costComp']">Cost Comparision</a></li>
              <li><a [routerLink]="['/migrationSizing']">Migration Sizing</a></li>              
          </ul>
        
      
      </div>
    </div>
  </div>
