<app-header></app-header>
<!-- get header content -->

<!-- fluid container to display the records cound in card items -->
<div class="container-fluid">
    <app-counts-list></app-counts-list>

    <!-- display the records count in card items as progress bar for discovery section -->
    <div class="card-deck card-items">
        <!-- Card item starts -->
        <div class="card bg-primary1" *ngIf="user['role'] == 'Admin' || user['role'] == 'Manager'|| user['role'] == 'User'">
            <div class="card-body text-center">
                <div class="card-header text-left">
                    <h2><img src="assets/images/discover.svg" /> Discovery</h2>
                </div>
                <div class="container">
                    <h3 class="text-center">Survey</h3>

                    <div class="clearfix progress-items" *ngIf="progressdata">
                        <div class="small-circle-items">
                            <div [ngClass]="getclassList(progressdata.average_percent_questionnaire)">

                                <span><a routerLink="/questionare">{{ progressdata.average_percent_questionnaire }}
                                        %</a></span>
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>
                            <a routerLink="/questionare"><label>Questionnaire</label></a>
                        </div>

                        <div class="small-circle-items">
                            <div [ngClass]="getclassList(progressdata.average_percent_interview)">
                                <span><a routerLink="/addquestionare">{{ progressdata.average_percent_interview }} %</a></span>
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>
                            <a routerLink="/addquestionare"><label>Interviews</label></a>
                        </div>

                        <div class="small-circle-items">
                            <div [ngClass]="getclassList(progressdata.average_percent_report)">
                                <span>{{ progressdata.average_percent_report }} %</span>
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>
                            <label>Reports</label>
                        </div>


                    </div>
                    <!-- /default -->

                </div>

                <div class="container line-bars">
                    <h3 class="text-center">Configure</h3>
                    <div class="card-sec">
                        <div class="bars-labels">
                            <!-- <label *ngFor="let device of deviceCount"><a routerLink="/discover">{{ device.third_party_name }}</a></label> -->
                            <label><a routerLink="/discover">Device42</a></label>
                            <label>Hystax</label>
                            <label>StackStorm</label>
                        </div>
                        <div class="bars-lines">

                            <ng-container>

                                <div class="progress blue " *ngFor="let device of deviceCount">
                                    <div class="progress-bar progress-bar-success progress-bar-striped"
                                        role="progressbar" [attr.aria-valuenow]="getVal(device.third_party_percent)"
                                        aria-valuemin="0" aria-valuemax="100"
                                        [style.width]="getValinPx(device.third_party_percent)">
                                    </div>
                                </div>
                            </ng-container>

                        </div>
                    </div>


                </div>


            </div>
        </div>
        <!-- Card item ends -->

        <!-- display the records count in card items as progress bar for analyse section -->
        <!-- Card item starts -->
        <div class="card bg-primary1" *ngIf="user['role'] == 'Admin' || user['role'] == 'Manager'|| user['role'] == 'User'">
            <div class="card-body text-center">
                <div class="card-header text-left">
                    <h2><img src="assets/images/analyse.svg" />Assessment</h2>
                </div>

                <div class="container line-bars">
                    <h3 class="text-center">Environment</h3>
                    <div class="card-sec">
                        <div class="bars-labels">
                            <label><a routerLink="/networkView">Inventory of all assets</a></label>
                            <label><a routerLink="/analyseStats">Technical details</a></label>
                            <label><a routerLink="/analyseStatsNew">Technical details New Screen</a></label>
                            <label>Performance metrics</label>


                        </div>
                        <div class="bars-lines">

                            <ng-container *ngFor="let envItem of environmentCount">
                                <div class="progress blue"
                                    *ngIf="envItem.name == 'Inventory of all assets' || envItem.name == 'Technical details' || envItem.name == 'Performance metrics'">
                                    <ng-container>
                                        <div class="progress-bar progress-bar-success progress-bar-striped"
                                            role="progressbar" [attr.aria-valuenow]="getVal(envItem.percent)"
                                            aria-valuemin="0" aria-valuemax="100"
                                            [style.width]="getValinPx(envItem.percent)">
                                        </div>
                                    </ng-container>
                                </div>
                            </ng-container>


                        </div>
                    </div>
                </div>

                <div class="container line-bars">
                    <h3 class="text-center">Landscape</h3>
                    <div class="card-sec">
                        <div class="bars-labels">
                            <label>Infrastructure config</label>
                            <label>Dependency map</label>
                            <label>Application matrix</label>
                        </div>
                        <div class="bars-lines">

                            <ng-container *ngFor="let envItem of environmentCount">
                                <div class="progress blue"
                                    *ngIf="envItem.name == 'Infrastructure config' || envItem.name == 'Dependency map' || envItem.name == 'Application matrix'">
                                    <ng-container>
                                        <div class="progress-bar progress-bar-success progress-bar-striped"
                                            role="progressbar" [attr.aria-valuenow]="getVal(envItem.percent)"
                                            aria-valuemin="0" aria-valuemax="100"
                                            [style.width]="getValinPx(envItem.percent)">
                                        </div>
                                    </ng-container>
                                </div>
                            </ng-container>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Card item ends -->

        <!-- display the records count in card items as progress bar for recomeded section -->
        <!-- Card item starts -->
        <div class="card bg-primary1 recomended" *ngIf="user['role'] == 'Admin' || user['role'] == 'Manager' ">
            <div class="card-body text-center">
                <div class="card-header text-left">
                    <h2><img src="assets/images/recomend.svg" />Recommended</h2>
                </div>


                <div class="container line-bars" *ngIf="environmentCount" style="height:auto;">

                    <div class="card-sec">
                        <div class="bars-labels">
                            <label><a routerLink="/moveGroupView">Move group and stategy</a></label>
                            <label><a routerLink="/migrationSizing">Target Sizing</a></label>
                            <label><a routerLink="/recommend">Workload sizing and target</a></label>
                            <label><a routerLink="/wavemoveGroup">Workload Costing</a></label>
                            <label><a routerLink="/costComp">Cloud costing report</a></label>
                            <label>Efficiency Matrix</label>
                            <label>Migration plan</label>
                            <label><a routerLink="/moveGroup">Manual Move Group</a></label>
                            <label><a routerLink="/migrationwave">Migration Wave</a></label>
                            <label><a routerLink="/graphs">Infrastructure finding's</a></label>
                        </div>
                        <div class="bars-lines">

                            <ng-container *ngFor="let envItem of environmentCount">
                                <div class="progress blue"
                                    *ngIf="envItem.name == 'Move group and stategy' || envItem.name == 'Target Sizing' || envItem.name == 'Workload sizing and target' || envItem.name == 'Cloud costing report' || envItem.name == 'Efficiency Matrix' || envItem.name == 'Migration plan'">
                                    <ng-container>
                                        <div class="progress-bar progress-bar-success progress-bar-striped"
                                            role="progressbar" [attr.aria-valuenow]="getVal(envItem.percent)"
                                            aria-valuemin="0" aria-valuemax="100"
                                            [style.width]="getValinPx(envItem.percent)">
                                        </div>
                                    </ng-container>
                                </div>
                            </ng-container>

                        </div>
                    </div>
                </div>

                <div class="container line-bars">
                    <!-- <h3 class="text-center">Configure</h3> -->

                </div>

            </div>
        </div>
        <!-- Card item ends -->

        <!-- Card item starts -->
        <div class="card bg-primary1" *ngIf="user['role'] == 'Admin'  ">
            <div class="card-body text-center">
                <div class="card-header text-left">
                    <h2>Migrate</h2>
                </div>

                <div class="migrateLinks">
                    <div class="labels">
                        <h6>Status</h6>
                        <h6>Progress</h6>
                    </div>
                    <div class="graphSec">
                        <canvas id="pieChart" mdbChart [chartType]="chartType" [datasets]="chartDatasets"
                            [labels]="chartLabelsLine" [colors]="chartColors" [options]="chartOptions"
                            [legend]="false"></canvas>
                        <canvas id="lineChart" mdbChart [chartType]="chartTypeLine" [datasets]="chartDatasetsLine"
                            [labels]="chartLabelsLine" [colors]="chartColorsLine" [options]="chartOptionsLine"
                            [legend]="false" (chartHover)="chartHovered($event)"></canvas>
                    </div>

                    <div class="migrationLinks">
                        <div class="sec">
                            <label><a routerLink="/migrationGroup"><img src="assets/images/mg.svg" />Migration Group</a></label>
                            <label><a routerLink="/migrationQue"><img src="assets/images/mq.svg" />Migration Queue</a></label>
                        </div>
                        <div class="sec">
                            <label><a routerLink="/migrationReadyGroup"><img src="assets/images/mrg.svg" />Migration Ready Groups</a></label>
                            <label><a routerLink="/timeline"><img src="assets/images/mt.svg" />Migration Timeline</a></label>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Card item ends -->

        <!-- Card item starts -->
        <div class="card bg-primary1" *ngIf="user['role'] == 'Manager'  ">
        
        </div>

        <!-- Card item starts -->
        <div class="card bg-primary1" *ngIf="user['role'] == 'User'  ">
        
        </div>
        <!-- Card item starts -->
        <div class="card bg-primary1" *ngIf="user['role'] == 'User'  ">
        
        </div>

    </div>


</div>
<!-- <div class="card-deck card-items" id="migrate"> -->
<!-- Card item starts -->

<!-- <div class="card bg-primary1">
        <div class="card-body text-center">
            <div class="card-header text-left">
                <h2>Prepare</h2>
            </div> -->



<!-- </div>
    </div> -->
<!-- Card item ends -->

<!-- display the records count in card items as progress bar for analyse section -->
<!-- Card item starts -->
<!-- <div class="card bg-primary1">
        <div class="card-body text-center">
            <div class="card-header text-left">
                <h2>Validate</h2>
            </div>



        </div>
    </div> -->
<!-- Card item ends -->

<!-- display the records count in card items as progress bar for recomeded section -->
<!-- Card item starts -->
<!-- <div class="card bg-primary1">
        <div class="card-body text-center">
            <div class="card-header text-left">
                <h2>Support</h2>
            </div>



        </div>
    </div> -->
<!-- Card item ends -->

<!-- Card item starts -->
<!-- <div class="card bg-primary1">
        <div class="card-body text-center">
            <div class="card-header text-left">
                <h2>Closure</h2>
            </div>



        </div>
    </div> -->
<!-- Card item ends -->

<!-- </div> -->