<div class="container-fluid">
    <div class="col-md-12">
        <div class="col-md-6" id="h3">
            <h3>Management Dashboard</h3>
        </div>
        <div class="col-md-6" id="icon">

            <label><img src="assets/Planning.svg" />Planning</label>

            <label ><img src="assets/Milestone.svg" />Milestone</label>
            <label ><img src="assets/Team.svg" />Team</label>
            <label ><img src="assets/Documents.svg" />Documents</label>
            <label ><img src="assets/Settings.svg" />Settings</label>

        </div>

    </div>

</div>